html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn{
    margin-right:3rem
}
html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn{
    margin-right:3rem
}
.myAppDemoWT .myCustomText{
    display:inline-block;
    font-weight: bold;
  color: blue;
}
